<h3> Increse The Capacity of Rooms</h3>
Add Number of Floors : <input type="number"  [(ngModel)]="increasedFloorValue" min = "{{floorNumber }}">
Add Number of Rooms per Floor : <input type="number" [(ngModel)]="increasedRoomCapacity" >
<br>
<button class = "btn btn-primary" (click)="submit()">Submit</button>
<br>
<h3> Veiw Booking Details , Please Select dates</h3>
<div class="input-group">
    <h1> Please Select Rooms form </h1> 
    <input type="date"  value="From Date"  [(ngModel)]="fromDate">
    <span class="input-group-btn"></span>
    <h1>to </h1>
    <input type="date"  value="To Date"    [(ngModel)]="toDate" >
    <button class="btn btn-primary" (click)="Submit()">Submit</button>
    <div *ngIf= "isChecked" style="color: blue;">
      <h2>{{errormsg}}</h2>
    </div>
    <div  id="loginFlag123">
      <div *ngIf= "loginFlag" style="color: blue;" >
        <h2>{{errormsg}}</h2>
      </div>
    </div>
</div>

<table class="table" id="excel-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Floor Number</th>
        <th scope="col">Room Number</th>
        <th scope="col">Booking Status</th>
      </tr>
    </thead>
    
    <tbody>      
      <tr   *ngFor="let rooms of RoomsList;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{rooms.getfloorNumber()}}</td>
        <td>{{rooms.getroomNumber()}}</td>
        <td>{{rooms.getbookingStatus()}}</td>
      </tr>
    </tbody>

  </table>